# Ignore everything
*

# But do not Ignore these files...
!.gitignore

!src
!src/**

!libs
!libs/**

!*.py
!*.html
!*.php

!*.txt
!*.md
!*.jpg
!*.jpeg
!*.png

!AlarmFlask/
!static/
!templates/
!uploads/
!AlarmInterface/

# MAC HIDDEN FILES
.DS_Store


#Additional Specific files to Ignore
